@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Righteous&family=Sarala&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(243.18deg, #6D4545 0%, #110505 100%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: fixed;
    background: #3c1e0f;
    width: 100%;
    justify-content: space-around;
}

.header-logo {
    width:30%;
    
    
}

#header-menu {
	color: beige;
}

.nav {
    display: none;
    position: absolute;
    right: 0%;
    width: 100%;
    top: 60px;
    padding-left: 20px;
    background: #3c1e0f;
    border-top: 1px solid beige;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100vh;
}


.nav-item {
    display: block;
    color: beige;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Sarala',sans-serif; 
    /*  border-bottom:0.4px solid beige ;   /*  */
}


.main {
    border-top: 0.4px solid beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    min-width: 320px;
    height: 100vh;
}

.form-login {
    padding: 30px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 28px;

}

.form-titulo {
    color: white;
    font-family: 'Sarala';
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.form-input-nome {
    border: none;
    background-color: white;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Sarala';

}

.form-input-senha {
    border: none;
    background-color: white;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Sarala';
}

.form-botao-submit {
    background-color: #ff000a;
    padding: 8px 16px;
    gap: 8px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    font-family: 'Sarala';
    color: white;
    border: 0px;
    
}

.main-imagem_xicara {
    width: 35%;
}

.footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top:0.4px solid beige ;
    padding: 10px;

}

.footer-logo {
    width: 10%;
    display: block
    
}
