@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Righteous&family=Sarala&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
  background: #Ffcb65;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  position: fixed;
  background:#Ffcb65;
  width: calc(100% - 20px);    
  justify-content: space-between;    
  margin:10px;
  border-radius: 10px;
  border: 2px solid #2f2325;
}

.header-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: black;
  font-size: 25px;
}

#header-menu {
	color: #2f2325;
}

.nav {
  display: none;
  position: absolute;
  right: 0%;
  width: 100%;
  top: 60px;
  padding-left: 20px;
  background: #090909f2;
  border: 3.5px solid beige;
  border-radius: 10px;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 50vh;
}


.nav-item {
  display: block;
  color: beige;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Sarala',sans-serif; 
}

.main {
    margin: auto;
    min-width:320px;
    padding-top: 65px;
}
oi

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.conteudo-principal-escrito-titulo {
    color: #2f2325;
    font-size: 55px;
    font-family: 'Righteous', cursive;
    padding: 0px;
    line-height: 60px;
}

.conteudo-principal-escrito-subtitulo {
    color: #2f2325;
    font-size: 25px;
    margin: 0px;
    font-family: 'Sarala',sans-serif;
    font-weight: 300;
}

.conteudo-principal-imagem {
    display: none;
    width: 30%;
}

.conteudo-principal-escrito-botao {
    background-color: bisque;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 50px;
    font-family:'Sarala',sans-serif;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
    color: #2f2325;
}

.botao-entrarnogrupo {
    text-decoration: none;
    color:#2f2325 ;
}


.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.conteudo-secundario-titulo {
    border-top: 1.5px solid #2f2325;
    color: #2f2325;
    font-size: 28px;
    font-family: 'Sarala', sans-serif;
}

.conteudo-secundario-paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
    color: #2f2325;
    font-size: 16px;
    font-family: 'Sarala',sas-serif ;
    margin-bottom:24px ;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top:0.4px solid #2f2325 ;
    padding: 10px;
    background-color: #2f2325;
}

.footer-logo {
  width: 10%;
  display: block;
}

#footer-logo-ebd {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 25px;
}

.footer-version {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 10px;
}