<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Template.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
    <title>EBD</title>
</head>

<body>

  <header class="header">
    <a href="index.html"><span class="header-logo">EBD</span></a>
    
    <span onclick="menu()" id="header-menu"class="material-icons">menu</span>
    
    
    <nav class="nav">
      <ul class="nav-ul">
        <li><a class="nav-item" href="download-revista.html">Revista</a></li>
        <li><a class="nav-item" href="biblioteca.html">Biblioteca</a></li>
        <li><a class="nav-item" href="professor.html">Professor</a></li>
        <li><a class="nav-item" href="aluno.html">Aluno</a></li>
        <li><a class="nav-item" href="cronograma.html">Cronograma</a></li>
        <li><a class="nav-item" href="login.html">Login</a></li>
      </ul>
    </nav>
  </header>
  
  <main class="main">
    
  </main>
  
  <footer class="footer">
    <span id="footer-logo-ebd" class="footer-logo">EBD</span>
    <span class="footer-version">v0.0 beta</span>
    <img class="footer-logo" id="footer-logo-idm" src="./imagens/idm logo branco.png" alt="" />
    </footer>
  
  <script src="Template.js"></script>
    
</body>
</html>

